body {
            background: linear-gradient(to bottom right, #0D1B2A, #300a47, #0D1B2A);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
            margin: 0;
        }

        /* Contenedor principal */
        .contenedor-creadores {
            display: flex;
            flex-wrap: wrap;
            /* Los elementos hijos se sitúan en la misma fila, pero si la pantalla es pequeña bajan */
            justify-content: center;
            padding: 40px;
            gap: 40px;
        }

        .titulo-seccion {
            width: 100%;
            text-align: center;
            color: #00FF80;
            font-size: 2.5em;
            margin-top: 20px;
            margin-bottom: 10px;
            text-shadow: 0 0 10px #e027e6;
            letter-spacing: 2px;
        }

        /* Tarjetas de creador */
        .tarjeta-creador {
            background-color: rgba(13, 27, 42, 0.7);
            border: 2px solid #00FF80;
            border-radius: 15px;
            padding: 25px;
            width: 280px;
            text-align: center;
            box-shadow: 0 0 15px rgba(255, 67, 230, 0.942);
            transition: transform 0.4s, box-shadow 0.4s;
        }

        .tarjeta-creador:hover {
            transform: scale(1.1);
            border-color: #e027e6;
            box-shadow: 0 0 40px #00FF80;
            cursor: pointer; /* Añadido para indicar que es interactivo */
        }

        .imagen-creador {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover; /* Clave para que el GIF no se deforme en el círculo */
            margin-bottom: 20px;
            border: 4px solid #00FF80;
            box-shadow: 0 0 10px rgba(0, 255, 128, 0.8);
            transition: border-color 0.3s ease;
        }

        /* Efecto extra: cambia el borde de la imagen al pasar el ratón */
        .tarjeta-creador:hover .imagen-creador {
            border-color: #e027e6;
        }

        .nombre-creador {
            color: #61ffb5;
            margin-top: 5px;
            font-size: 1.6em;
            text-shadow: 0 0 8px #e027e6;
            font-weight: bold;
        }

        .descripcion-creador {
            color: #D3D3D3;
            line-height: 1.5;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        footer {
            width: 100%;
            text-align: center;
            padding: 20px;
            background-color: #0D1B2A;
            border-top: 2px solid #00FF80;
            color: #90A4AE;
            font-size: 0.9em;
            margin-top: auto; /* Empuja el footer al final si hay poco contenido */
        }