

body {
    background: linear-gradient(to bottom right,#0D1B2A,#300a47,#0D1B2A);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
     /* Asegura que el body ocupe el 100% de la altura de la pantalla  así el footer va abajo*/
}

/*contenedor principal*/
.contenedor-creadores {
    display: flex;
    flex-wrap: wrap; 
    /* Los elementos hijos(los divs de cada creador y título) se situan en la misma final,
    pero si la pantalla es muy pequeña(movil),
    se sitúa una debajo de otra para que se vean bien */
    justify-content: center;
    padding: 40px;
    /* Que me separe del footer */
    gap: 40px; 
    /* Añade a cada elemento hijo(cada div) espacio entre ellos, sino, estan pegados */
}

.titulo-seccion {
    width: 100%; 
    /* Aqui diciendole que ocupe todo el 100%, me garantizo que con flex wrap,
     las tarjetas me las mande abajo */
    text-align: center;
    color: #00FF80; 
    font-size: 2.5em;
    margin-top: 0px;
    /* sino, se nos separa mucho */
    margin-bottom: 10px;
    text-shadow: 0 0 10px #e027e6;
    /*(horizontal, vertical, desenfoque) */
    letter-spacing: 2px;
}

/* tarjetas de creador*/

.tarjeta-creador {
    background-color: rgba(13, 27, 42, 0.7);
    border: 2px solid #00FF80;
    border-radius: 15px;
    padding: 25px;
    width: 280px;
    text-align: center;
    box-shadow: 0 0 15px rgba(255, 67, 230, 0.942);
    /* sombra de las tarjetas */
    transition: transform 0.4s, box-shadow 0.4s;
    /* la transition hace que el cambio no sea instantaneo y ocurra en 0,4seg */
}

.tarjeta-creador:hover {
    transform: scale(1.1);
    /* el elemento debe agrandarse un 10% (110% de su tamaño original). */
    border-color: #e027e6;
    box-shadow: 0 0 40px #00FF80;
}

.imagen-creador {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    /* Asegura que la imagen se ajustal contenedor, la expande o recorta si es necesario */
    margin-bottom: 20px;
    border: 4px solid #00FF80;  
    box-shadow: 0 0 10px rgba(0, 255, 128, 0.8);
}
.tarjeta-creador:hover .imagen-creador {
     border-color: #000000};
    /* que el circulo de la imagen cambie a negro al hacer hover en la tarjeta */

.nombre-creador {
    color: #61ffb5;
    margin-top: 5px;
    font-size: 1.6em;
    text-shadow: 0 0 8px #e027e6;
    font-weight: bold;
}

.descripcion-creador {
    color: #D3D3D3;
    line-height: 1.5;
    /* El interlineado */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}


footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #0D1B2A; 
    border-top: 2px solid #00FF80; 
    color: #90A4AE; 
    font-size: 0.9em;
    margin-top: auto
    /* esto hace que el footer se ajuste al body, 
    que le hemos puesto un 100% y asi el footer va abajo */
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.logo-link {
    text-decoration: none;
}
.logo {
    display: flex; 
    align-items: center;
    position: static;
}
.logo img {
    width: 60px;
    height: auto;
    filter: drop-shadow(0 0 5px #00FF80);
    transition: transform 0.3s;
}
.logo img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px #e027e6);
}
